@page "/editaproduto/{id:int}"
@inject NavigationManager NavigationManager
@inject IProdutoService produtoService

<h2>Edita Produto</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Nome" class="control-label">Nome</label>
                <input for="Nome" class="form-control" @bind="@produto.Nome" />
            </div>
            <div class="form-group">
                <label for="Descricao" class="control-label">Descricao</label>
                <input for="Descricao" class="form-control" @bind="@produto.Descricao" />
            </div>
            <div class="form-group">
                <label for="Estoque" class="control-label">Estoque</label>
                <input for="Estoque" class="form-control" @bind="@produto.Estoque" />
            </div>
            <div class="form-group">
                <label for="Preco" class="control-label">Preco</label>
                <input for="Preco" class="form-control" @bind="@produto.Preco" />
            </div>
            <div class="form-group">
                <img src="/images/@produto.Imagem" />
                <input for="Imagem" class="form-control" @bind="@produto.Imagem" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@AtualizaProduto" value="Atualiza" />
            <input type="button" class="btn" @onclick="@Cancela" value="Cancela" />
        </div>
    </div>
</form>

@code {

    [Parameter]
    public int id { get; set; }

    Produto produto = new Produto();

    protected override async Task OnInitializedAsync()
    {
        produto = await produtoService.GetById(id);
    }

    protected async Task AtualizaProduto()
    {
        await produtoService.Update(produto);
        NavigationManager.NavigateTo("produtos");
    }

    void Cancela()
    {
        NavigationManager.NavigateTo("produtos");
    }
}