@page "/novoproduto"
@inject NavigationManager NavigationManager
@inject IProdutoService produtoService

<h2>Novo Produto</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Nome" class="control-label">Nome</label>
                <input for="Nome" class="form-control" @bind="@produto.Nome" />
            </div>
            <div class="form-group">
                <label for="Descricao" class="control-label">Descrição</label>
                <input for="Descricao" class="form-control" @bind="@produto.Descricao" />
            </div>
            <div class="form-group">
                <label for="Estoque" class="control-label">Estoque</label>
                <input for="Estoque" class="form-control" @bind="@produto.Estoque" />
            </div>
            <div class="form-group">
                <label for="Preco" class="control-label">Preço</label>
                <input for="Preco" class="form-control" @bind="@produto.Preco" />
            </div>
            <div class="form-group">
                <label for="Imagem" class="control-label">Foto</label>
                <input for="Imagem" class="form-control" @bind="@produto.Imagem" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CriaProduto" value="Salvar" />
                <input type="button" class="btn btn-link" @onclick="@Cancela" value="Cancelar" />
            </div>
        </div>
    </div>
</form>

@code {

    Produto produto = new Produto();

    protected async Task CriaProduto()
    {
        await produtoService.Create(produto);
        NavigationManager.NavigateTo("produtos");
    }

    void Cancela()
    {
        NavigationManager.NavigateTo("produtos");
    }
}  